<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="A cool thing made with Glitch" />

    <title>request-mirror</title>

    <link
      id="favicon"
      rel="icon"
      href="https://glitch.com/edit/favicon-app.ico"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="/style.css" />

    <script src="/script.js" defer></script>
    <style>
      div#json {
        display: none;
      }
      table {
        border-collapse: collapse;
      }
      td {
        border: solid;
      }
    </style>
  </head>
  <body>
    <div id="json">
      JSONJSONJSON
    </div>
    <h1>HTTP request headers</h1>
    <p>
      クライアントから送られたHTTPリクエストのヘッダ。Node.jsのExpressのリクエストオブジェクトに含まれていたものを表示している。
    </p>

    <table id="headers">
      <tr>
        <th>ヘッダ</th>
        <th>値（JSON.stringifyしたもの）</th>
      </tr>
    </table>

    <hr />
    <p>
      任意の文字列を入力するとアンカータグが生成されます。
      リファラの挙動を調べるために使ってください。
    </p>
    <div>
      <label>URL<input id="url"/></label>
      <a href="https://request-mirror.glitch.me/">https://request-mirror.glitch.me/</a>
    </div>

    <script>
      setTimeout(x => {
        const text = document.querySelector("div#json").innerText;
        const o = JSON.parse(text);
        for (x in o.headers) {
          const td1 = document.createElement("td");
          td1.innerText = x;
          const td2 = document.createElement("td");
          td2.innerText = JSON.stringify(o.headers[x]);
          const tr = document.createElement("tr");
          tr.appendChild(td1);
          tr.appendChild(td2);
          document.querySelector("table#headers").appendChild(tr);
        }
      }, 100);

      document.querySelector("input").addEventListener("keyup", x => {
        document.querySelector("a").setAttribute("href", x.srcElement.value);
        document.querySelector("a").innerText = x.srcElement.value;
      });
    </script>
  </body>
</html>
