<html>
  <head>
    <title>webauthn-fastify</title>
    <style>
      textarea {width:90%; height: 3em;}
    </style>
  </head>
  <body>
    <form>
      <input type="text" />
      <input type="submit" />

    </form>
    <textarea id="textareaPublicKeyCredential">a</textarea>
    <script>
      setTimeout(()=>{
      document.querySelector("#textareaPublicKeyCredential").value =
      window.PublicKeyCredential;}, 100);
    </script>

    <textarea id="textareaUVPAA"></textarea>
    <script>
      setTimeout(()=>{ 
      window.PublicKeyCredential.isUserVerifyingPlatformAuthenticatorAvailable().
      then(document.querySelector("#textareaUVPAA").value = x); },
      100);
    </script>
  </body>
</html>