<html>
  <head>
    <title>webauthn-fastify</title>
    <link
      href="//unpkg.com/material-components-web@latest/dist/material-components-web.min.css"
      rel="stylesheet"
    />
    <script
      src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"
    ></script>
    <style>
      textarea {width:90%; height: 3em;}
    </style>
  </head>
  <body class="mdc-typography">
    <header>
      <button class="mdc-button"><div>
        xoijfiajo
        </div></button>
      <top-app-bar><span slot="title"
        >mwc-top-app-bar-fixed</span></top-app-bar>
      <nav>
      </nav>
    </header>
    <main>
      <h1>WebAuthnが利用可能か？
      </h1>
      <p>
        <code>window.PublicKeyCredential</code>があれば
        WebAuthnが利用可能である。
      </p>
      <textarea id="textareaPublicKeyCredential">a</textarea>
      <script>
        setTimeout(()=>{
        document.querySelector("#textareaPublicKeyCredential").value =
        window.PublicKeyCredential;}, 100);
      </script>

      <h1>
        生体認証器が利用可能か？
      </h1>
      <p>
        <code
        >PublicKeyCredential.isUserVerifyingPlatformAuthenticatorAvailable()</code>の
        返すPromiseがtrueを返すなら生体認証器が利用可能。
      </p>
      <textarea id="textareaUVPAA"></textarea>
      <script>
        setTimeout(()=>{
        window.PublicKeyCredential.isUserVerifyingPlatformAuthenticatorAvailable().
        then(x => document.querySelector("#textareaUVPAA").value = x); }, 100);
      </script>
    </main>
    <footer>
    </footer>
  </body>
</html>