<html>
  <head>
    <title>webauthn-fastify</title>
    <style>
      textarea {width:90%; height: 3em;}
    </style>
  </head>
  <body>
    <header>
      <nav>
      </nav>
    </header>
    <main>
      <h1>WebAuthnが利用可能か？
      </h1>
      <p>
        <code>window.PublicKeyCredential</code>があれば
        WebAuthnが利用可能である。
      </p>
      <textarea id="textareaPublicKeyCredential">a</textarea>
      <script>
        setTimeout(()=>{
        document.querySelector("#textareaPublicKeyCredential").value =
        window.PublicKeyCredential;}, 100);
      </script>

      <h1>
        生体認証器が利用可能か？
      </h1>
      <p>
        <code
        >PublicKeyCredential.isUserVerifyingPlatformAuthenticatorAvailable()</code>の
        返すPromiseがtrueを返すなら生体認証器が利用可能。
      </p>
      <textarea id="textareaUVPAA"></textarea>
      <script>
        setTimeout(()=>{
        window.PublicKeyCredential.isUserVerifyingPlatformAuthenticatorAvailable().
        then(x => document.querySelector("#textareaUVPAA").value = x); }, 100);
      </script>
    </main>
    <footer>
    </footer>
  </body>
</html>