<html>
  <head>
    <title>webauthn-fastify</title>
  </head>
  <body>
    <form>
      <input type="text" />
      <input type="submit" />

    </form>
    <button>
      Check window.PublicKeyCredential
    </button>
    <textarea id="publicKeyCredential">a</textarea>
    <script>
      window.onload = ()=>{
      document.querySelector("BUTTON").addEventListener("CLICK", ()=>{ alert(1);
      document.querySelector("#publicKeyCredential").innerHTML = "1"; }); }
    </script>
  </body>
</html>