<html>
  <head>
    <title>webauthn-fastify</title>
    <style>
      body {margin: 0px}
      iframe {margin:0px; padding 0px; width:100vw; height:100vw; border:none;
    }
    </style>
  </head>
  <body class="mdc-typography">
    <header>
      <button class="mdc-button"><div>
        xoijfiajo
        </div></button>
      <top-app-bar><span slot="title"
        >mwc-top-app-bar-fixed</span></top-app-bar>
      <nav>
      </nav>
    </header>
    <main>
      <iframe src="client-side-check.html">
        
      </iframe>
    </main>
    <footer>
    </footer>
  </body>
</html>