Flask
google-cloud
google-cloud-ndb
google-cloud-memcache
google-cloud-datastore
google-cloud-storage
google-auth
google-api-python-client
#appengine-python-standard
https://github.com/GoogleCloudPlatform/appengine-python-standard/archive/main.tar.gz
firestore-model
